/* 
*********
Reset
*********
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
*********
Fonts
*********
*/

h1,
h2,
h3,
p {
    font-family: 'Fredoka', sans-serif;

}

p {
    font-size: 18px;
}

/* 
*********
Colori
*********
*/

/*
----------------
 color: #0f0e17 ;
 color: #e53170;
 ---------------
 */


/* 
*********
Common
*********
*/

div a,
.professione {
    color: #72c2e4;
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
}

div .nome,
.professione {
    color: white;
    margin-bottom: 8px;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

/* 
*********
Header
*********
*/

.contenitore {
    margin: auto;
    max-width: 1100px;
    text-align: center;
    padding-top: 40px;
}

div h1 {
    font-size: 40px;
    color: #e53170;
    margin-bottom: 50px;
}


/* 
*********
Main
*********
*/

/* 
*********
Tessere
*********
*/
.content-box {
    margin: auto;
    max-width: 1100px;
}

.celle {
    width: calc(100% / 3 - 20px);
    float: left;
    background-color: #0f0e17;
    margin: 10px;
    margin-top: 50px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.637);
}

/* 
*********
Contenuto Tessere
*********
*/

img {
    width: 100px;
    height: 100px;
    display: block;
    float: left;
}

.info-testo {
    width: calc(100% / 100px);
    float: left;
    padding: 12px;
    padding-left: 15px;
}

.nome {
    font-size: 20px;
}